<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Best Website</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/main.css">
    
    
</head>

<body class="{{template}}">
    <div class="login__container">
        <form action="http://localhost:3001/register" method="post">
            <input type="text" placeholder="Username" id="login__username-input" name="username"><br>
            <input type="password" placeholder="Password" id="login__username-input" name="password">
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="/scripts/built/bundle.js"></script>{{!-- {{> footer}} --}}
</body>

</html>