body {
    margin: 0;
}

@import "variables.scss";
@import "login.scss";

$actionbar__height: $action__dimensions + 16px;

.layout {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 4fr 3fr $actionbar__height;
    grid-template-areas:
        "grid panel-one"
        "grid panel-two"
        "actionbar actionbar";


    &__grid {
        grid-area: grid;
        background: rebeccapurple
    }

    &__panel--one {
        grid-area: panel-one;
        background: cyan
    }

    &__panel--two {
        grid-area: panel-two;
        background: orange;
    }

    &__actionbar {
        grid-area: actionbar;
        background: gold;
        padding: 8px;
    }

    &__action {
        display: inline-block;
        width: $action__dimensions;
        height: $action__dimensions;
        background-color: paleturquoise;
        border: 2px solid paleturquoise;
        margin-right: 8px;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
            border: 2px solid mediumvioletred;
        }
    }
}